<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Customer List</h1>
<table border="1">
    <thead>
    <tr>
        <th>Book Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>Author</th>
        <th>Page</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.page}"></td>
        <td>
            <form th:action="@{/customer/reviews}" method="get">
                <input type="hidden" name="id" th:value="${customer.id}">
                <button type="submit">ViewReviews</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>