<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Customer List</h1>
<table border="1">
    <thead>
    <tr>
        <th>Customer Id</th>
        <th>Username</th>
        <th>Customer name</th>
        <th>Age</th>
        <th>Rating</th>
        <th>Occupation</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer:${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.username}"></td>
        <td th:text="${customer.customerName}"></td>
        <td th:text="${customer.age}"></td>
        <td th:text="${customer.rating}"></td>
        <td th:text="${customer.occupation}"></td>
        <td>
            <form th:action="@{/customer/reviews}" method="get">
                <input type="hidden" name="id" th:value="${customer.id}">
                <button type="submit">ViewReviews</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>